body {
  font-family: "IBM Plex Sans", sans-serif;
}

code, kbd, pre, samp {
  font-family: "IBM Plex Mono", monospace;
}

body {
  background-color: hsl(30,90%,98%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.highlight > .chroma {
  padding: 1rem;
}

.main {
  margin-top: 1rem;
  margin-bottom: 2rem;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.logo {
  font-weight: bold;
  text-align: right;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.nav {
  margin-bottom: 2rem;
}

.footer {
  margin-bottom: 1rem;
}

.footer__copyright {
  font-size: small;
}

.article {
  margin-bottom: 1rem;
}

.posts-list__post {
  margin-bottom: 2rem;
}

.posts-list__post-title {
  margin-bottom: 0;
}

.posts-list__post-date {
  font-size: small;
  color: #6c757d;
}

.post-metadata {
  text-align: right;
  font-style: italic;
}
