body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 768px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.highlight > .chroma {
  padding: 1rem;
}

.main {
  margin-top: 1rem;
  margin-bottom: 2rem;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.nav {
  margin-bottom: 2rem;
}

.footer {
  margin-bottom: 1rem;
}

.footer__copyright {
  font-size: small;
}

.article {
  margin-bottom: 1rem;
}

.article th, .article td {
  padding: 0 0.5rem;
}

.posts-list__post {
  margin-bottom: 2rem;
}

.posts-list__post-title {
  margin-bottom: 0;
}

.posts-list__post-date {
  font-size: small;
  color: #6c757d;
}

.post-metadata {
  text-align: right;
  font-size: small;
  color: #6c757d;
}

.projects-list__project {
  margin-bottom: 2rem;
}

.projects-list__project-title {
  margin-bottom: 0;
}
