.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

body {
  min-height: 100vh;
}

header {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

footer .copyright {
  font-size: small;
}
